#homepageContainer {
  background-color: aqua;
  background-image: url("https://images.unsplash.com/photo-1509347201499-7020cd9a59de?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHBvbmR8ZW58MHwxfDB8fHww&auto=format&fit=crop&w=800&q=60");
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* background-position: right top; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#DODHolder {
  padding: 1vh;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carousel {
  height: 500px;
  width: 500px;
}

#duckyContainter {
  padding: 1vh;
}

#h1Welcome {
  padding: 1vh;
  font-size: xxx-large;
}
