#homepageContainer{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#DODHolder{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel {
    height: 500px;
    width: 500px;
}

#duckyContainter{
    
}